* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin: auto;
  background-color: #ebebeb;
}

/* ----- HEADER ----- */

span {
  color: #ffffff;
}

.header-landing {
  width: auto;
  height: 500px;
  display: grid;
  grid-template-areas:
    "item1 item2"
    "item1 item3";
  grid-template-columns: 1fr 1fr;
}

.header-landing > :nth-child(3n + 1) {
  background-color: #c7ddea;
}

.header-landing > :nth-child(3n + 2) {
  background-color: #f17949;
}

.header-landing > :nth-child(3n) {
  background-color: #ffb939;
}

.landing-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: solid 1px red; */
}

.landing-item h1 {
  font-size: 2.8rem;
  max-width: 19.62rem;
  font-family: "Frank Ruhl Libre", serif;
  position: absolute;
  top: 50px;
  left: 80px;
}

.landing-paragraph {
  max-width: 16.75rem;
  font-size: 0.8rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  position: absolute;
  top: 170px;
  left: 80px;
  color: #00000080;
}

.button-header {
  background-color: #ffffff;
  border-radius: 6.25rem;
  border: none;
  width: 6.3rem;
  height: 2.43rem;
  font-size: 0.6rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  box-shadow: 2px 2px rgb(189, 189, 189);
  text-transform: uppercase;
  position: absolute;
  top: 300px;
  left: 80px;
  cursor: pointer;
}

.family {
  width: 286px;
  height: 279px;
  position: absolute;
  bottom: 0;
  left: 200px;
}

.landing-item p {
  max-width: 16.75rem;
  font-size: 0.8rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  color: #00000050;
}

.landing-item h2 {
  font-size: 2.8rem;
  max-width: 19.62rem;
  color: #ffffff;
  font-family: "Frank Ruhl Libre", serif;
}

/* ---- NAVBAR LANDINGPAGE ----- */

.navbar {
  display: grid;
  width: auto;
  height: 68px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  background-color: #ebebeb;
  /* border: solid 1px blue; */
}

a {
  color: #00000070;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px grey; */
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.75rem;
  cursor: pointer;
}

/* MAIN - TESTIMONIALS */

/*--------------main--------------*/
main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.content {
  grid-column: span 6;
  margin: 0;
  position: relative;
}

/*-----------main-top-----------*/
.main-top {
  display: flex;
  background-color: #a9a19e;
}

.main-top h1 {
  font-family: "Frank Ruhl Libre", serif;
  color: #ffffff;
  font-weight: 900;
  font-size: 2.81rem;
}

.main-top section {
  width: 50%;
  padding: 5rem;
}

.main-top p {
  padding-top: 2rem;
}

/*-----------main-cards-----------*/
.main-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(#a9a19e 50%, #fab131 50%);
}

.main-cards .card {
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.main-cards .card figure {
  width: 90%;
  height: 9.3rem;
  margin-top: -1rem;
}

.main-cards .card p {
  padding: 0 2rem 1.5rem;
  font-size: 0.7rem;
  text-align: center;
  font: 700 11px/18px "Fira Sans", sans-serif;
}

.main-cards .card:nth-child(1) figure {
  background-color: #c7ddea;
  background-image: url(img/child.png);
  background-position: center 1rem;
  background-repeat: no-repeat;
  background-size: 40%;
}

.main-cards .card:nth-child(2) figure {
  background-color: #fab131;
  background-image: url(img/adult.png);
  background-position: center 1rem;
  background-repeat: no-repeat;
  background-size: 40%;
}

.main-cards .card:nth-child(3) figure {
  background-color: #f17949;
  background-image: url(img/old.png);
  background-position: center 1rem;
  background-repeat: no-repeat;
  background-size: 60%;
}

/*-----------main-button------------*/

.button-main {
  background-color: #ffffff;
  border-radius: 6.25rem;
  border: none;
  width: 6.3rem;
  height: 2.43rem;
  font-size: 0.6rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  box-shadow: 2px 2px rgb(189, 189, 189);
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 260px;
}

/*-----------main-about------------*/
.main-about {
  background-color: #fab131;
  padding: 2rem 12rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*----------text-opacity------------*/

.opacity-text-60 {
  opacity: 60%;
}

.opacity-text-55 {
  opacity: 55%;
}

/* HOW IT WORKS / 6 SPLIT GRID */

.how-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: auto;
  height: 680px;
}

.how-item {
  height: 340px;
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#how-item-1 {
  background: #c7ddea;
}

#how-item-2 {
  background: #ffffff;
}

#how-item-3 {
  background: #ebebeb;
}

#how-item-4 {
  background: #ffffff;
}

#how-item-5 {
  background: #f17949;
}

#how-item-6 {
  background: #ffffff;
}

.how-item h1 {
  font-size: 2.8rem;
  max-width: 314px;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
  color: #00000080;
}

.how-item h2 {
  font-size: 2.18rem;
  max-width: 314px;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #00000040;
}

.how-item p {
  max-width: 16.06rem;
  max-height: 7.06rem;
  font-size: 1.06rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  color: #00000070;
  /* border: solid 1px blue; */
}

/* FOOTER */

footer {
  background: #777574;
  height: 200px;
}

.nav-footer {
  background: #a9a19e;
  height: 75px; /* ändrade höjden trots att skissen säger 68px pga reasons */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 1px red; */
}

.chevron {
  padding-top: 30px;
  margin-bottom: 0;
}

.nav-footer a {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 1.06rem;
  /* margin-top: 0; */
  padding-bottom: 40px;
  border: none;
  color: #00000070;
  /* border: solid 1px blue; */
}
